/.idea
/.vscode
/box_layout_finished.py
/button_finished.py
/calendar_finished.py
/checkbox_finished.py
/checked_finished.py
/colordialog_finished.py
/combobox_finished.py
/darkstyle_finished.py
/darkstyle_start.py
/data
/datetimeedit_finished.py
/date_time_finished.py
/filedialog_finished.py
/first.py
/fontDialog_finished.py
/form_layout_finished.py
/fotos
/funnybutton_finished.py
/Gbx_demo_ex2_finished.py
/Gbx_demo_ex_finished.py
/grid_layout_finished.py
/groupbox_finished.py
/html
/inputdialog_finished.py
/label_finished.py
/lcd_finished.py
/lineedit_finished.py
/lineedit_start.py
/listwidget_finished.py
/main.py
/menu_demo_finished.py
/messagebox_finished.py
/msgbox_practice.py
/plaintext_finished.py
/progressbar_finished.py
/pyqt5.zip
/pyqt5_checkbox_practice.py
/pyqt5_color_dialog_practice.py
/pyqt5_datetime_practice.py
/pyqt5_empty_window.py
/pyqt5_file_dialog_practice.py
/pyqt5_font_dialog_practice.py
/pyqt5_input_dialog_practice.py
/pyqt5_label_practice.py
/pyqt5_line_edit_practice.py
/pyqt5_radio_button_practice.py
/pyuic_gui.py
/radiobutton_finished.py
/second.py
/simple_window_with_controls.py
/slider_finished.py
/spinboxes_finished.py
/spinbox_finished.py
/sql_finished.py
/stacked_layout_finished.py
/stylefunctions_finished.py
/styles_finished.py
/style_list_finished.py
/tablewidget_finished.py
/tablewidget_start.py
/tabwidget_finished.py
/textbrowser_finished.py
/textedit_finished.py
/third.py
/timer_finished.py
/timer_start.py
/treewidget_finished.py
/ui
/ui_modules
/venv
/webengineview_finished.py
/__MACOSX
/__pycache__